/* @import "./main-style.css"; */

.top {
	width: 100%;
	height: 100vh;
	background: url(../images/bghome.png);
	background-repeat: no-repeat;
	background-position: 50% 80%;
	background-size: 400px;
	background-color: #f2f2f2;
}

.top__text {
	padding: 7rem 4rem 4rem;
	font-size: 3.7rem;
	text-align: center;
	line-height: 1.5;
	margin: 0;
	color: #000000;
}

/* feature */
.feature {
	margin: 5rem 0;
}

.feature__heading {
	text-align: center;
}

.feature__list {
	list-style: none;
	margin-top: 2rem;
}

.feature__element {
	margin-top: 1rem;
}

.feature__element::before {
	content: '✅';
	margin-right: 1rem;
}

/* tablet + desktop */
@media screen and (min-width: 769px) {
	.top {
		position: relative;
		background-position: 80% 50%;
	}

	.top__text {
		position: absolute;
		font-size: 2.8rem;
		top: 38%;
		left: 2%;
		width: 40%;
		padding: 4rem;
	}

	.feature__heading {
		text-align: left;
		padding-left: 10rem;
	}
}

/* desktop */
@media screen and (min-width: 1201px) {
	.top {
		background-size: auto;
	}

	.top__text {
		font-size: 3.8rem;
		left: 10%;
	}
}