@import "./normalize.css";

:root {
    --color-primary: #335384;
    --color-secondary: #5ba7d1;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* typography */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem;
    line-height: 1.3;
}

h1, h2, h3, h4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    line-height: 1.1;
}

h1 {
    font-size: 6rem;
    color: var(--color-primary);
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
    color: var(--color-secondary);
    text-transform: uppercase;
    letter-spacing: .7rem;
}

h3 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.9rem;
    font-weight: normal;
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 1.9rem;
    }

    h4 {
        font-size: 2.3rem;
    }
}

/* block */
.container {
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0 8px 24px rgba(149, 157, 165, .2);
}


@media screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 2fr 5fr;
        margin: 4rem auto;
    }
}

/* dot */
.dot {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
    margin-right: .35rem;
}

.dot--fill {
    background: #fff;
}

.dot--empty {
    background: #6589bf;
}

.dot--right-space {
    margin-right: 1rem;
}

/* sidebar */
.sidebar {
    background: var(--color-primary);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__photo {
    margin: 4rem 0;
    width: 210px;
}

.sidebar__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 4.7rem;
}

.sidebar__heading {
    margin-top: 3rem;
    margin-bottom: 0;
    letter-spacing: .5rem;
}

.sidebar__list {
    list-style: none;
    padding: 0;
}

.sidebar__item {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
}

.sidebar__icon {
    margin-right: 2rem;
}

.sidebar__text {
    letter-spacing: .08rem;
}

/* main */
.main {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.main__subheading {
    margin-top: 5rem;
    margin-bottom: 9rem;
    position: relative;
}

.main__subheading::before {
    content: '';
    border-top: 3px solid #444440;
    position: absolute;
    top: -25px;
    left: 0;
    width: 10rem;
}

.main__section {
    margin-top: 2rem;
}

.main__section-heading {
    color: var(--color-secondary);
    letter-spacing: .5rem;
}

.main__section-subheading {
    margin-bottom: .2rem;
}

.main__text {
    font-size: 1.9rem;
    letter-spacing: .2rem;
}

.main__position {
    font-size: 2rem;
    font-weight: 300;
}

.main__list {
    font-size: 1.8rem;
    letter-spacing: .2rem;
    margin-top: .6rem;
    margin-bottom: .8rem;
}

@media screen and (min-width: 768px) {
    .main {
        margin: 7rem;
    }
}